/vendor
/node_modules
Homestead.yaml
Homestead.json
.env.*
.env.dusk.local
.env
.DS_Store
.idea/
public/css/bootstrap.min.css
public/css/font-awesome.min.css
public/js/bootstrap.min.js
public/js/jquery-1.12.4.min.js
config/database.php

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/nbproject/private/
/nbproject
/fontconfig
_ide_helper.php
